*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
*~
proguard/
.gradle